{% extends 'base.html' %}

{% block content %}
    
    <table class="table">
        <h2>ARTIST</h2>
        <tr>
            <th>Artist ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth Date</th>
            <th>Address</th>
            <th>Phone Number</th>
        </tr>
        {% for i in artist %}
        <tr>
            <td>{{i.artistID}}</td>
            <td>{{i.firstName}}</td>
            <td>{{i.lastName}}</td>
            <td>{{i.birthDate}}</td>
            <td>{{i.address}}</td>
            <td>{{i.phoneNumber}}</td>
        </tr>
        {% endfor %}
    </table>

   
{% endblock content %}