{% extends 'base.html' %}

{% block content %}
<section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">   
        <h2>Artist</h2>
          <ol>
            <li><a href="{% url 'dashboard:sample_view' %}">Home</a></li>
            <li>Artist</li>
          </ol>
        </div>        
    <table class="table">
        
        <tr>
            <th>Artist ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth Date</th>
            <th>Address</th>
            <th>Phone Number</th>
        </tr>
        {% for i in artist %}
        <tr>
            <td>{{i.artistID}}</td>
            <td>{{i.firstName}}</td>
            <td>{{i.lastName}}</td>
            <td>{{i.birthDate}}</td>
            <td>{{i.address}}</td>
            <td>{{i.phoneNumber}}</td>
        </tr>
        {% endfor %}
    </table>
 </div>
    </section><!-- End Breadcrumbs -->
   
{% endblock content %}