{% extends 'base.html' %}

{% block content %}
<section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">   
        <h2>Artwork</h2>
          <ol>
            <li><a href="{% url 'dashboard:homepage_view' %}">Home</a></li>
            <li>Artwork</li>
          </ol>
        </div> 
    <table class="table table-hover">   
            <tr>
            <th>Artwork ID</th>
            <th>Year</th>
            <th>Title</th>
            <th>Price</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
        {% for i in artwork %}
        <tr>
            <td>{{i.artworkID}}</td>
            <td>{{i.year}}</td>
            <td>{{i.title}}</td>
            <td>{{i.price}}</td>
            <td>{{i.type}}</td>
            <td>{{i.description}}</td>
        </tr>
        {% endfor %}
    </table>
 </div>
    </section><!-- End Breadcrumbs -->
   
    
{% endblock content %}