{% extends 'base.html' %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>ArtCraft Dashboard</h2>
          <ol>
            <li><a href="{% url 'dashboard:sample_view' %}">Home</a></li>
            <li>Dashboard</li>
          </ol>
        </div>

        <table class="table table-hover">
            <tr>
                <td style="text-align: right; vertical-align: middle;"><strong>ARTIST</strong></td>
                <td style="text-align: left; vertical-align: middle;"><a href="{% url 'dashboard:artist_view' %}">View Details</a></button></td>
            </tr>
            <tr>
                <td style="text-align: right; vertical-align: middle;"><strong>ARTWORK</strong></td>
                <td style="text-align: left; vertical-align: middle;"><a href="{% url 'dashboard:artwork_view' %}">View Details</a></button></td>
            </tr>
            <tr>
                <td style="text-align: right; vertical-align: middle;"><strong>CUSTOMER</strong></td>
                <td style="text-align: left; vertical-align: middle;"><a href="{% url 'dashboard:customer_view' %}">View Details</a></button></td>
            </tr>
            <tr>
                <td style="text-align: right; vertical-align: middle;"><strong>ORDER</strong></td>
                <td style="text-align: left; vertical-align: middle;"><a href="{% url 'dashboard:order_view' %}">View Details</a></button></td>
            </tr>
        </table>
          </div>
    </section><!-- End Breadcrumbs -->

  </main><!-- End #main -->
{% endblock content %}