{% extends 'base.html' %}

{% block content %}
<section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">   
        <h2>Orders</h2>
          <ol>
            <li><a href="{% url 'dashboard:homepage_view' %}">Home</a></li>
            <li>Orders</li>
          </ol>
        </div> 
    <table class="table">
        <tr>
            <th>Order ID</th>
            <th>Order Price</th>
            <th>Order Date</th>
            <th>Artwork ID</th>
            <th>Customer ID</th>
        </tr>
        {% for i in order %}
        <tr>
            <td>{{i.orderID}}</td>
            <td>{{i.orderPrice}}</td>
            <td>{{i.orderDate}}</td>
            <td>{{i.artworkID}}</td>
            <td>{{i.customerID}}</td>
        </tr>
        {% endfor %}
    </table>
  </div>
    </section><!-- End Breadcrumbs -->  
{% endblock content %}